<a href="https://colab.research.google.com/github/sureeratsalangsing/kku_data_mining/blob/master/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas

In [34]:
from google . colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM_material'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
path = '/content/drive/My Drive/DWDM_material'

In [36]:
import os

In [37]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

##Then use pandas to load the data into environment

In [38]:
search_click_df = pandas.read_csv(search_click)

In [39]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [40]:
w_restaurant_df = pandas.read_csv(w_restaurant)

In [41]:
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

In [42]:
search_click_df.shape

(1048575, 6)

In [43]:
w_restaurant_df.shape

(246847, 32)

##0.Point to data in the data

##.manal

In [44]:
search_click_df['search_id']

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [45]:
search_click_df['search_id'][0]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [46]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

##.iloc

In [47]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [48]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

##1 Missing Values

In [49]:
search_click_df.isnull()
#isnull คือเช็คว่าแต่ละตารางมีช่องว่างรึป่าว

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [50]:
search_click_df.isnull().any()
#any คือ ยุบแต่ละคอลลัมมารวมกัน คอลลัมไหนมี true ก็จะมารวมกัน

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [51]:
search_click_df.isnull().any().any()

True

##Handling missing values 1

#ลบข้อมูล

In [52]:
search_click_df_nm = search_click_df.dropna()

In [53]:
search_click_df_nm.isnull().any().any()

False

In [54]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

## Excercise 1 ตรวจสอบว่า การลบข้อมูล missing ออก จากตาราง w_restarant จะทำให้ข้อมูลลดลงกี่%

In [55]:
w_restaurant_df_nm = w_restaurant_df.dropna()

In [56]:
w_restaurant_df_nm.isnull().any().any()

False

In [57]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nm.shape)

(246847, 32)
(4, 32)

In [58]:
#หรือปริ้นครั้งเดียว
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]
print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \
      \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 246847
size after drop = 4
which is 99.99837956304918

##Method 1.5

In [59]:
w_restaurant_df.isnull().any()
# ค่าที่ขึ้น True คือค่าที่ missing คือค่าที่หายไป

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [60]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

(180972, 32)

##Method 2 (raplace with reasonable value)

#we are replacing missing value in the number of chains with 0]

In [61]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [62]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

#Method 2.1 (raplace with unknown value)

#Method 3

In [65]:
all_cities = set(new_table['city_name'])
len(all_cities)

NameError: ignored

In [ ]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

In [ ]:
all_cities_list = []
for each_city in list(all_cities):

    # cm_table = new_table[new_table['city_name']=='Chiang Mai']
    # cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
 
    temp_table = new_table[new_table['city_name']==each_city].copy()
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

In [ ]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing

In [ ]:

all_no_missing = all_no_missing.fillna(all_mean)
all_no_missing.isnull().any()

In [ ]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table




#[PD] select data

In [ ]:
selected_list = new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

In [ ]:
new_table[selected_list].head()

#หาราคาเฉลี่ยของร้านในจังหวัดกรุงเทพ

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

1.#เลือกเฉพาะ กทม

In [ ]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

2.#ลบ missing

In [ ]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

3 เลือกเฉพาะ column 'avg_price'

In [ ]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

4.4 หาค่าเฉลี่ย

In [ ]:
bkk_table_dp_avg_price.mean()

#แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [ ]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

In [ ]:
#bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

#Ex 9 หาราคาเฉลี่ยของร้านในจังหวัดเชียงใหม่

#[PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data) pd.concat

In [ ]:
cm_table = new_table[new_table['city_name']=='Chiang Mai']
cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
cm_table.head()

#Remove Outlier (boxplot)

#Quiz วาด boxplot ของ ค่า 'avg_price'ของตาราง all_no_missing (แนวนอน)

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
ret=plt.boxplot(all_no_missing['avg_price'],vert=False)

In [ ]:
print(ret['whiskers'][0].get_xdata()[1])
print(ret['whiskers'][1].get_xdata()[1])

In [ ]:
nooutlier_nomissing = all_no_missing[all_no_missing['avg_price']>=ret['whiskers'][0].get_xdata()[1]]
nooutlier_nomissing = nooutlier_nomissing[nooutlier_nomissing['avg_price']<=ret['whiskers'][1].get_xdata()[1]]
nooutlier_nomissing

#Data integration(Combine 2 table vs copy some columns from another table)¶
merge two tables(.merge())

In [66]:
merged_table = search_click_df.merge(w_restaurant_df,how = 'left',left_on='business_id',right_on='id')
merged_table

        click_timestamp  ... delivery
0               11:38.9  ...      1.0
1               30:51.3  ...      1.0
2               32:09.6  ...      NaN
3               00:59.8  ...      1.0
4               23:36.8  ...      1.0
...                 ...  ...      ...
1048570         05:28.8  ...      NaN
1048571         15:28.8  ...      NaN
1048572         11:49.4  ...      1.0
1048573         10:33.7  ...      1.0
1048574         13:51.4  ...      NaN

[1048575 rows x 38 columns]

#copy a column from other table (.map())

In [67]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])
search_click_df

        click_timestamp  ...                  bu_name
0               11:38.9  ...        ปูดองอันยอง Eight
1               30:51.3  ...                Yoshinoya
2               32:09.6  ...  The Hub Cafe and Eatery
3               00:59.8  ...     ซั่งไห่ เสี่ยวหลงเปา
4               23:36.8  ...                Yoshinoya
...                 ...  ...                      ...
1048570         05:28.8  ...              เสกแจ่วฮ้อน
1048571         15:28.8  ...    ก๋วยเตี๋ยวหมูหน่อกะลา
1048572         11:49.4  ...      Laemcharoen Seafood
1048573         10:33.7  ...     เอี่ยวไถ่ สุกี้โบราณ
1048574         13:51.4  ...                  Icy-me

[1048575 rows x 7 columns]

In [68]:
search_click_df['city'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['city_name'])
search_click_df

        click_timestamp  ...                         city
0               11:38.9  ...  Bangkok Metropolitan Region
1               30:51.3  ...  Bangkok Metropolitan Region
2               32:09.6  ...  Bangkok Metropolitan Region
3               00:59.8  ...  Bangkok Metropolitan Region
4               23:36.8  ...  Bangkok Metropolitan Region
...                 ...  ...                          ...
1048570         05:28.8  ...                   Chaiyaphum
1048571         15:28.8  ...  Bangkok Metropolitan Region
1048572         11:49.4  ...  Bangkok Metropolitan Region
1048573         10:33.7  ...  Bangkok Metropolitan Region
1048574         13:51.4  ...                 Prachin Buri

[1048575 rows x 8 columns]

#[PD] groupby()

In [69]:
search_click_df.groupby('business_id').count()

             click_timestamp  search_id  display_position  ...  ads  bu_name  city
business_id                                                ...
2.0                        4          4                 4  ...    4        4     4
5.0                        2          2                 2  ...    2        2     2
6.0                        6          6                 6  ...    6        6     6
7.0                        3          3                 3  ...    3        3     3
14.0                       5          5                 5  ...    5        5     5
...                      ...        ...               ...  ...  ...      ...   ...
340060.0                   4          4                 4  ...    4        4     4
340063.0                   1          1                 1  ...    1        1     1
340067.0                   2          2                 2  ...    2        2     2
340068.0                   6          6                 6  ...    6        6     6
340070.0                   9          9                 9  ...    9        9     9

[141536 rows x 7 columns]

In [70]:
search_click_df.groupby('business_id').count().sort_values('click_timestamp')

             click_timestamp  search_id  display_position  ...   ads  bu_name  city
business_id                                                ...
122473.0                   1          1                 1  ...     1        1     1
136485.0                   1          1                 1  ...     1        1     1
275120.0                   1          1                 1  ...     1        1     1
136492.0                   1          1                 1  ...     1        1     1
136498.0                   1          1                 1  ...     1        1     1
...                      ...        ...               ...  ...   ...      ...   ...
150227.0                1377       1377              1377  ...  1377     1377  1377
273486.0                1417       1417              1417  ...  1417     1417  1417
112509.0                2130       2130              2130  ...  2130     2130  2130
142707.0                2811       2811              2811  ...  2811     2811  2811
182530.0                3833       3833              3833  ...  3833     3833  3833

[141536 rows x 7 columns]

In [71]:
w_restaurant_df[w_restaurant_df['id']==182530]

            id      name  domain_id  ...  hotel_restaurant pet_friendly delivery
124030  182530  หนานหยวน          1  ...               NaN          NaN      NaN

[1 rows x 32 columns]

#Qiuz หาจังหวัดที่มีคน click เข้าไปสุดสามอันดับแรก

In [72]:
search_click_df.groupby('city').count().sort_values('click_timestamp',ascending=False).iloc[:3,:]

                             click_timestamp  search_id  ...     ads  bu_name
city                                                     ...
Bangkok Metropolitan Region           596980     596963  ...  596980   596980
Chiang Mai                             56775      56775  ...   56775    56775
Chon Buri                              51535      51535  ...   51535    51535

[3 rows x 7 columns]

#เมืองไหนที่มีค่าเฉลี่ยของ 'weighted_average_rating' สูงที่สุด

In [73]:
sorted_star = w_restaurant_df.groupby('city_name').mean().sort_values('weighted_average_rating',ascending = False)
sorted_star

                                      id  domain_id  ...  pet_friendly  delivery
city_name                                            ...
Khartoum                   303589.000000        1.0  ...           NaN       NaN
Cairo Governorate          277711.000000        1.0  ...           NaN       NaN
Vaud                       161710.500000        1.0  ...           NaN       NaN
Borno                      276020.000000        2.0  ...           NaN       NaN
Kepulauan Riau             145430.500000        1.0  ...           NaN       NaN
...                                  ...        ...  ...           ...       ...
Castilla-La Mancha         210336.333333        1.0  ...           NaN       NaN
Capital Region of Denmark  134835.000000        1.0  ...           NaN       NaN
Région de Kidal            240208.500000        2.0  ...           NaN       NaN
Region Zealand             115070.000000        1.0  ...           NaN       NaN
Jharkhand                   63786.000000        1.0  ...           NaN       NaN

[479 rows x 27 columns]

#เมืองไหนที่มีค่าเฉลี่ยของ 'weighted_average_rating' สูงที่สุด แบบน่าเชื่อถือที่สุด

In [74]:
sorted_star[sorted_star['number_of_reviews']>=5]

                                        id  domain_id  ...  pet_friendly  delivery
city_name                                              ...
Maldives                     242953.000000   1.000000  ...           NaN       NaN
Chiang Mai                   179078.979643   1.168028  ...      0.067387  0.164958
Bangkok Metropolitan Region  179658.982155   1.117261  ...      0.162970  0.915868
Hua Hin                      180926.866138   1.167576  ...      0.144144  0.409091

[4 rows x 27 columns]

#12.Save to use with other applications

In [75]:
search_click_df.to_csv('search_click_extracted_time.csv')